<header class="header">

    <div class="header">
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/catalog">Catalog</a>
            {{#if isAuth}}
            <a href="/user/profile/{{_id}}">Profile</a>
            <a href="/book/create">Create Review</a>
            <a href="/user/logout">Logout</a>
            {{else}}
            <a href="/guest/login">Login</a>
            <a href="/guest/register">Register</a>
            {{/if}}
        </nav>
    </div>

</header>